{% load static %}

<!DOCTYPE html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
  data-sidebar-image="none">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Smarthr - Bootstrap Admin Template" />
  <meta name="keywords"
    content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects" />
  <meta name="author" content="NTC" />
  <title>{{ COMPANY_NAME }}</title>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css'%}" />
  <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/line-awesome.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/material.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{%static 'assets/css/select2.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap-datetimepicker.min.css' %}">
  <script src="{% static 'assets/js/ntcscript2.js' %}"></script>
  <script src="{% static 'assets/js/ntcscript3.js' %}"></script>
  <script src="{% static 'assets/js/ntcscript4.js' %}"></script>
</head>

<body>
  {% block content %} {% endblock%}
<div class="main-wrapper">
  <div class="header">

    <div class="header-left">
        <a href="#" class="logo">
            <img src="{% static 'assets/img/logo.png' %}" width="40" height="40" alt="Logo">
        </a>
        <a href="#" class="logo2">
            <img src="{% static 'assets/img/logo2.png' %}" width="40" height="40" alt="Logo">
        </a>
    </div>

    <a id="toggle_btn" href="javascript:void(0);">
        <span class="bar-icon">
            <span></span>
            <span></span>
            <span></span>
        </span>
    </a>

    <div class="page-title-box">
        <h3>{{COMPANY_NAME}}</h3>
    </div>

    <a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa-solid fa-bars"></i></a>
    
    <ul class="nav user-menu px-2">
        <li class="nav-item ">
            <a href="{% url 'logout' %}">Logout</a>
        </li>
    </ul>

</div>

  <div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
      <div id="sidebar-menu" class="sidebar-menu">
          <nav class="greedys sidebar-horizantal">
              <ul class="list-inline-item list-unstyled links">
                  <li class="menu-title">
                      <span>Main</span>
                  </li>            
                  <li>
                      <a href="{% url 'create_invoice' %}"><i class="la la-ticket"></i> <span>Add Invoice</span></a>
                  </li>                 
                  <li>
                      <a href="{% url 'invoice_filter' %}"><i class="la la-money"></i> <span>Invoice Filter</span></a>
                  </li>
                                           
              </ul>
              
          </nav>
          <ul class="sidebar-vertical">
              <li class="menu-title">
                  <span>Main</span>
              </li>
              <li>
                  <a href="{% url 'create_invoice' %}"><i class="la la-ticket"></i> <span>Add Invoice</span></a>
              </li>
          
              <li>
                  <a href="{% url 'invoice_filter' %}"><i class="la la-money"></i> <span>Invoice Filter</span></a>
              </li>

              <li>
                <a href="{% url 'create_driver' %}"><i class="la la-ticket"></i> <span>Add Driver</span></a>
            </li>  
           
            
             
          </ul>
      </div>
  </div>
  </div>
{% if user.is_authenticated %}
Hi {{ user.username }}!
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}
</div>


  <script src="{% static 'assets/js/jquery-3.7.0.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery.slimscroll.min.js' %}"></script>
  <script src="{% static 'assets/js/layout.js' %}"></script>
  <script src="{% static 'assets/js/theme-settings.js' %}"></script>
  <script src="{% static 'assets/js/greedynav.js' %}"></script>
  <script src="{% static 'assets/js/app.js' %}"></script>
  <script src="{% static 'assets/js/select2.min.js' %}"></script>  
  <script src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'assets/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'assets/js/moment.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script>
  
</body>
</html>